@charset 'utf-8';
*html {
    background-image:url(about:blank);
    background-attachment:fixed;
}
* html .select_pop,*html .error_pop,*html .cancel_pop{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop)+300);}
*html .shade{position:absolute; left: expression(eval(document.documentElement.scrollLeft)); top: expression(documentElement.scrollTop);}
/*common*/
.login-con dl .login-btn,.confirm_wrap p .confirm-btn,.course_list ul li p.select a,.tips p a,.select_pop p a,.error_pop p a,.cancel_pop p a,.error_wrap p a{background:url(../imgs/btn.png);border:0;cursor:pointer;text-indent:-9999em;}
/*login*/
.content-login{padding:58px 0 50px;width:100%;background:url(../imgs/log-bg.png) no-repeat left bottom;}
.login-wrap{margin:0 auto;padding:38px;width:624px;background:#fff;border:1px solid #92d64b;}
.login-wrap h2{width:346px;height:45px;background:url(../imgs/login.png) no-repeat left top;text-indent:-999em;}
.login-con li{margin-top:30px;width:100%;position:relative;vertical-align:middle;}
.login-con li .login-icon{width:48px;height:35px;background:url(../imgs/login-icon.png);cursor:pointer;position:absolute;top:16px;left:24px;text-indent:-999em;}
.login-con li .studentNo-icon{background-position:0 0;}
.login-con li .pswd-icon{background-position:0 -38px;}
.login-con li .login-tip{color:#ccc;cursor:text;position:absolute;top:22px;left:90px;font-family:Microsoft Yahei;font-size:16px;}
.login-con li.active .login-tip{top:-999em;left:-999em;}
.login-con li.error-tips{margin-top:10px;width:100%;color:red;}
.login-con li .login-input{padding-left:90px;width:530px;height:60px;line-height:60px;border:1px solid #8fd544;color:#333;font-size:20px;}
.login-con li .login-btn{margin:0 auto;width:412px;height:80px;background:#8fd544;border:0;color:#fff;cursor:pointer;display:block;font:bold 40px/80px Microsoft Yahei;word-spacing:45px;}
/*申请页面*/
.app-tit{width:100%;height:68px;color:#8fd544;font:normal 24px/68px Microsoft Yahei;}
.app-wrap{\width:100%;}
.app-wrap .tab-list{width:231px;height:34px;border-left:1px solid #8fd544;border-right:1px solid #8fd544;}
.tab-list li{width:115px;height:34px;line-height:34px;color:#fff;cursor:pointer;font-weight:bold;float:left;background:url(../imgs/tab-bg.png) no-repeat 20px 0 #8fd544;border-top:1px solid #8fd544;border-right:1px solid #8fd544;text-align:center;}
.tab-list li.current{height:35px;background:url(../imgs/tab-bg.png) no-repeat  20px -34px #fff;border-top:1px solid #8fd544;border-right:0;color:#8fd544;}
.app-wrap .app-con{padding:20px;width:1114px;background:url(../imgs/app-bg.png) no-repeat left bottom #fff;border:1px solid #8fd544;border-bottom:0;}
.app-con .tips{height:40px;line-height:40px;background:#fff0be;border:1px solid #edc784;text-align:center;}
.app-con .module{width:100%;}
.module p{height:54px;line-height:54px;color:#8fd544;font-size:14px;background:url(../imgs/border-bg1.gif) repeat-x left bottom;}
.module p.module-tit{padding-top:15px;height:15px;line-height:15px;background:none;color:#999;}
.module p.module-tit1{background:url(../imgs/border-bg1.gif) repeat-x left top;}
.module ul{padding:20px 0 0;width:100%;}
.module ul.info-list{padding:20px 0 10px;}
.module ul li{margin-bottom:10px;width:100%;height:32px;line-height:32px;font-size:14px;overflow:hidden;}
.module ul li .tit{width:80px;color:#999;float:left;}
.module ul li .tit1{width:190px;color:#999;float:left;}
.module ul li .input-txt{margin-right:10px;padding:0 5px;height:30px;line-height:30px;border:1px solid #8fd544;float:left;}
.module ul li .input-error-txt{border:1px solid #f00;}
.module ul li .input-tip{color:#8fd544;float:left;}
.module ul li .input-error-tip{color:#f00;}
.module ul li .radio-btn{margin:8px 10px 0 0;float:left;}
.module ul li label{margin-right:20px;color:#999;cursor:pointer;float:left;}
.module ul li .date{width:209px;float:left;position:relative;}
.module ul li .ui-datepicker-trigger{width:20px;height:20px;cursor:pointer;position:absolute;top:6px;right:5px;}
.module ul li .name{width:205px;}
.module ul li .birthday{width:199px;}
.module ul li .locus{width:650px;}
.module ul li .contact-way{width:168px;}
.app-con .submit-btn{margin:45px auto 0;width:120px;height:35px;line-height:35px;background:#8fd544;border:0;color:#fff;cursor:pointer;display:block;font-family:Microsoft Yahei;font-weight:bold;}
.app-con .statement{padding-top:35px;width:100%;color:#f00;text-align:right;}
/*数据详情页*/
.return-info{padding-bottom:20px;width:100%;}
.return-info a{width:150px;height:35px;line-height:35px;background:#8fd544;color:#fff;font-family:Microsoft Yahei;font-weight:bold;float:left;text-align:center;}
.return-info a:hover{text-decoration:none;}
.app-con h3{width:100%;color:#8fd544;font-family:Microsoft Yahei;font-weight:normal;font-size:18px;text-align:center;}
.complete-info{float:left;}
/*后台管理页*/
.table_wrap{width:100%;}
.table_wrap table{width:100%;}
.table_wrap table tr{width:780px;}
.table_wrap table tr:hover,.table_wrap table tr.hover{background:#f5f5f5;}
.table_wrap table tr.table-head:hover{background:#fff;}
.table_wrap table tr th{height:56px;line-height:56px;}
.table_wrap table tr th,.table_wrap table tr td{border:1px solid #ccc;text-align:center;}
.table_wrap table tr td{height:46px;line-height:46px;font-size:14px;}
.table_wrap table tr td.oper{color:#ccc;}
.table_wrap table tr td.rent{background:#f7ffef}
.table_wrap table tr td span{margin:0 auto;width:100%;height:40px;line-height:40px;display:block;overflow:hidden;word-break:break-all;}
.table_wrap table tr td a{color:#8fd544;font-weight:bold;}
.w146{width:146px;}
.w170{width:170px;}
.w185{width:185px;}
.w420{width:420px;}
/*分页*/
.page-wrap{padding:20px 0;width:100%;height:30px;font-size:14px;}
.page{margin:0 auto;width:100%;height:30px;line-height:30px;text-align:center;}
.page span,.page a{display:inline-block;}
.page a{cursor:pointer;}
.page .each input,.page .later input{margin:0 5px;width:27px;height:18px;line-height:18px;vertical-align:middle;background:#fff;border:1px solid #ccc;color:#999;text-align:center;}
.page .home,.page .prev,.page .next,.page .end{margin-bottom:2px;margin-right:5px;height:30px;line-height:30px;background:url(../imgs/page.png) no-repeat;color:#000;cursor:pointer;text-align:center;text-decoration:none;}
.page .home,.page .end{width:32px;}
.page .prev,.page .next{width:46px;}
.page .home{padding:0 10px 0 25px;background-position:0 0;}
.page .prev{padding:0 10px 0 20px;background-position:0 -30px;}
.page .next{padding:0 20px 0 10px;background-position:0 -60px;}
.page .end{padding:0 25px 0 10px;background-position:0 -90px;}

.page .number,.page span.number{margin-right:5px;width:28px;height:28px;line-height:28px;background:#fff;border:1px solid #ddd;font-family:Arial;font-size:14px;color:#4b4b4b;text-align:center;}
.page .number:hover{border:1px solid #78bc2f;text-decoration:none;}
.page .number-cur{background:#8fd544;border:1px solid #78bc2f;color:#fff;font-weight:bold;}
/*弹窗*/
.propt{margin-left:-340px;padding:50px 40px;width:600px;background:#fff;border:1px solid #8fd544;position:absolute;top:30%;left:50%;z-index:999;}
.propt .propt-msg{padding-bottom:35px;width:100%;font-family:Microsoft Yahei;font-size:20px;text-align:center;}
.propt .propt-btn-wrap{margin:0 auto;width:280px;height:50px;}
.propt .propt-close-btn{margin:0 auto;width:120px;height:50px;background:#8fd544;color:#fff;cursor:pointer;display:block;font:bold 20px/50px Microsoft Yahei;text-align:center;}
.propt .propt-rem-btn,.propt .propt-cancel-btn{margin:0 auto;width:120px;height:50px;background:#8fd544;color:#fff;cursor:pointer;float:left;font:bold 20px/50px Microsoft Yahei;text-align:center;}
.propt .propt-rem-btn{margin-right:40px;}
.propt .propt-close-btn:hover,.propt .propt-rem-btn:hover,.propt .propt-cancel-btn:hover{text-decoration:none;}
.propt .return-home{padding-top:35px;width:100%;text-align:center;font-family:Microsoft Yahei;font-size:18px;}
.propt .return-home a{color:#4b9bff;text-decoration:underline;}
/*shade*/
.mask{width:100%;height:100%;background:url("../imgs/mask.png") repeat scroll 0 0;position:fixed;top:0;left:0;z-index:998;}
*html .mask{position:absolute;left:expression(eval(document.documentElement.scrollLeft));}